{% extends "base.html" %}
{% block content %}
<div id="templatemo_right_column">
            <div id="templatemo_main">
                <img src="/static/images/index_image1.png" alt="image 1" />

                <div class="post_section">
                    <p>
                        Любить чтение — это обменивать часы скуки, неизбежные в жизни, на часы большого наслаждения.
                    </p>
                    <span class="authorship">Шарль Луи де Монтескьё</span>
                </div>

                <div class="post_section">
                    <p>
                        «Скажи, что ты читаешь, и я скажу, кто ты» — это верно. Но я лучше узнаю тебя,
                        если ты скажешь, что ты перечитываешь.
                    </p>
                    <span class="authorship">Франсуа Мориак</span>
                </div>

                <div class="post_section">
                    <p>
                        Книги — хороший способ поговорить с тем, с кем разговор невозможен.
                    </p>
                    <span class="authorship">Фредерик Бегбедер</span>
                </div>

                <div class="post_section">
                    <p>
                        Более глубокий смысл живёт в сказках, рассказанных мне в моем детстве,
                        чем в правде, которая преподается жизнью.
                    </p>
                    <span class="authorship">Фридрих Шиллер</span>
                </div>

                <div class="post_section">
                    <p>
                        Хорошие друзья, хорошие книги и спящая совесть, — вот идеальная жизнь.
                    </p>
                    <span class="authorship">Марк Твен, «Записные книжки»</span>
                </div>

            </div>

            <div class="cleaner"></div>
      </div>
{% endblock %}